@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-primary-100: #F5FEE7;
  --color-primary-400: #57A203;
  --color-neutral-white: #FFFFFF;
  --color-neutral-100: #F8F9FA;
  --color-neutral-300: #DEE2E6;
  --color-neutral-600: #6C757D;
  --color-neutral-900: #212529;
  --font-size-h1: 40px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;
  --font-size-psm: 14px;
  --line-height-heading: 1.2;
  --line-height-p: 1.5;
  --letter-spacing: 0.05rem;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* 全域設定 */
*,
*::before,
* a::after {
  box-sizing: border-box;
}

body {
  color: var(--color-neutral-900);
  font-family: "Noto Sans", sans-serif;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-p);
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: var(--color-primary-400);
}

/* 容器 */
.container-856 {
  max-width: 880px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.container-1076 {
  max-width: 1076px;
  margin: 0 auto;
}

/* 推擠 */
.mb-64 {
  margin-bottom: 64px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 4px;
}

/* 通用設定 */
.text-on-dark {
  color: var(--color-neutral-white);
}

.heading {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background: var(--color-neutral-100);
}
.footer p {
  text-align: center;
  color: var(--color-neutral-600);
  font-size: var(--font-size-psm);
}

.story-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.story-title {
  text-align: center;
  padding-top: 151px;
  padding-bottom: 151px;
  font-size: var(--font-size-h1);
}
.story-title-eng {
  font-size: var(--font-size-h3);
}

.intro {
  background: var(--color-primary-100);
  text-align: center;
  padding: 32px;
}
.intro h3 {
  color: var(--color-primary-400);
  font-size: var(--font-size-h5);
}

.story-article h2 {
  font-size: var(--font-size-h4);
}
.story-article section {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--color-neutral-300);
}

.highlight {
  color: var(--color-primary-400);
  font-size: var(--font-size-h5);
}

.list-disc {
  list-style-type: disc;
  margin-left: 1.5rem;
}
.list-disc span {
  border-left: 1px solid var(--color-neutral-900);
  padding-left: 8px;
  margin-left: 8px;
}
.list-line li {
  border-left: 3px solid var(--color-neutral-300);
  padding-left: 12px;
}
.list-arrow i {
  color: var(--color-primary-400);
}
.list-arrow a {
  font-weight: var(--font-weight-medium);
  text-underline-offset: 8px;
  margin-left: 8px;
}