.story-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.story-title {
    text-align: center;
    padding-top: 151px;
    padding-bottom: 151px;
    font-size: var(--font-size-h1);

    &-eng {
        font-size: var(--font-size-h3);
    }
}

.intro {
    background: var(--color-primary-100);
    text-align: center;
    padding: 32px;

    h3 {
        color: var(--color-primary-400);
        font-size: var(--font-size-h5);
    }
}

.story-article {
    h2 {
        font-size: var(--font-size-h4);
    }

    section {
        padding-bottom: 48px;
        border-bottom: 1px solid var(--color-neutral-300);
    }
}

.highlight {
    color: var(--color-primary-400);
    font-size: var(--font-size-h5);
}

.list {
    &-disc {
        list-style-type: disc;
        margin-left: calc(1rem * 1.5);

        span {
            border-left: 1px solid var(--color-neutral-900);
            padding-left: 8px;
            margin-left: 8px;
        }
    }

    &-line li {
        border-left: 3px solid var(--color-neutral-300);
        padding-left: 12px;
    }

    &-arrow {
        i {
            color: var(--color-primary-400);
        }

        a {
            font-weight: var(--font-weight-medium);
            text-underline-offset: 8px;
            margin-left: 8px;
        }
    }
}